nav {
    display: flex;
    justify-content: right;
    align-items: center;
    background: #c0c0c0;
    padding: 10px 0;
}

nav a {
    margin: 0 15px;
    color: #000000;
    text-decoration: none;
    font-size: large;
}

nav a:hover {
    text-decoration: underline;
}

.a-logo {
  margin-right: auto;
}

/* Contenedor principal de las secciones */
.container {
  display: flex;
  align-items: flex-start;
  padding: 20px;
}
.content {
  width: 75%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.section {
  display: flex;
  align-items: flex-start;
  gap: 15px;
  text-align: center;
  margin-left: 19.5%;
  margin-right: 19.5%;
  font-size: 18px;
  align-items: center;
}
.section img {
  width: 144px;
  margin-top: 5px;
}
.container-2x2 {
  display: flex;
  flex-wrap: wrap; /* Permite que los elementos se acomoden cuando es necesario */
  gap: 10px; /* Espacio entre las secciones */
}
/* Estilo para cada sección */
.section-2x2 {
  flex: 1 1 45%; /* 45% de ancho para las secciones (2 por fila) */
}

